.password-check{
    width: 400px;
   margin: 50px auto;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   background-color: white;
   text-align: center;
}
.password-check h2{
    margin-bottom: 20px;
    color: #333;
}
.input-group{
    position:relative;
    margin-bottom: 20px;
}
.input-group input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 2px solid red ;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
}
.input-group input:focus {
    border: 2px solid blue;
}
.toggle-password{
    position: absolute;
    right: 10px;
    top:50%;
    cursor: pointer;
   font-size: 18px;
   transform: translateY(-50%);
}
.check-button{
    width: 100px;
    padding: 5px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  transition: background-color 0.3s;
}
.check-button:hover {
    background-color: #0056b3;
}
.error-message{
    margin-top: 15px;
    font-size: 14px;
    color: red; 
}
.error-message1{
    color: green;
}
.pass{
    margin-top: 10px;
}
.word{
    text-decoration: none;
}