.forgot-password-container{
  border: 1px solid  greenyellow;
  width: 400px;
 margin: 100px auto; 
  text-align: center;
  box-shadow: 0  0 10px black;
  padding: 20px;
  border-radius: 10px;
}
input {
  width: 90%;
  padding: 10px;
  border: 1px solid red; /* Default border */
  border-radius: 5px;
  margin-top: 10px;
}

/* Style for the input field when there is an error */
.input-error {
  border: 2px solid red;
  outline: none;
}
.input-error input:focus{
  border:  2px solid blue;
}

/* Style for the error text */
.error-text {
 
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Style for the success text */
.success-text {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}

/* Button styling for consistency */
.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Styling the link */
.submit-login {
  color: #007bff;
  text-decoration: none;
}

.submit-login:hover {
  text-decoration: underline;
}
.new{
  text-decoration: none;
  
}