.search-container {
    position: relative;
    top: 20px;
    width: 100%;
  }
  .search-contain{
    width: 70%;
    color: #000;
  }
  .search-input {
    width: 70%; /* Adjust width as needed */
    padding: 10px 40px 10px 10px; /* Add right padding for the clear button */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .clear-button {
   color: red;
   position: absolute;
   top: 10px;
   font-size: 20px;
   
  }
  
  .clear-button:hover {
    color: #000;
  }
  
  .search-results {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
    width: 70%; /* Match the input field width */
    z-index: 10;
  }
  
  .search-result-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  
  .search-result-item:hover {
    background-color: #f7f7f7;
  }
  
  .search-result-item h4 {
    margin: 0;
    font-size: 16px;
  }
  
  .search-result-item p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
  }
  .loading-text {
    color: #555;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  .not-found-text {
    color: #d9534f;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }